<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Ejecutor python</title>
</head>
<body class = "pagina">
    <header class = "cabecera">
        <button class="menu-toggle" id="menuToggle">☰</button>
        <nav class = "navegacion" id="menuNav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/como-funciona">¿Cómo usarlo?</a></li>
                <li><a href="https://docs.python.org/es/3/" target="_blank">Documentacion Python</a></li>
            </ul>
        </nav>
    </header>
    <main class = "contenido">
        <h1 class = "titulo">Editor de código Python</h1>
    
        <form class = "contenedor-editor" action="/ejecutar" method="post">
            <textarea class="editor" name="codigo" rows="10" cols="50" required placeholder="Escribe tu código aquí...">{{ codigo_previo }}</textarea>
            <br>
            <button class="boton-enviar" type="submit">Evaluá tu código</button>
        </form>

        {% if resultado %}
        <section class = "resultado-contenido">
            <h2 class = "resultado">Resultado</h2>
            <br>
            <pre>{{ resultado }}</pre>
        </section>
        {% endif %}
    </main>
    <script>
        document.getElementById('menuToggle').addEventListener('click', function() {
            const menuNav = document.getElementById('menuNav');
            menuNav.classList.toggle('active');
        });

        // Cerrar menú al hacer clic en un enlace
        document.querySelectorAll('.navegacion a').forEach(link => {
            link.addEventListener('click', function() {
                document.getElementById('menuNav').classList.remove('active');
            });
        });
    </script>
</body>
</html>